# Database connection string (PostgreSQL)
DATABASE_URL="postgresql://user:password@localhost:5432/food_delivery?schema=public"

# Application Port
PORT=3000

# CORS Origin
CORS_ORIGIN="*"

# Order Status Delays in milliseconds for simulation
STATUS_PREPARING_DELAY=10000
STATUS_DELIVERY_DELAY=10000
STATUS_DELIVERED_DELAY=10000

# Environment
NODE_ENV="development"
